@tailwind base;
@tailwind components;
@tailwind utilities;

.react-flow__handle {
  opacity: 0;
}

@layer base {
  :root {
    --background: 126 35% 99%;
    --foreground: 126 50% 3%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 126 35% 99%;
    --popover-foreground: 126 50% 3%;
    --card: 126 35% 99%;
    --card-foreground: 126 50% 3%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 126 69% 63%;
    --primary-foreground: 126 69% 3%;
    --secondary: 126 11% 92%;
    --secondary-foreground: 126 11% 32%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 126 69% 63%;
    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 126 58% 1%;
    --foreground: 126 12% 98%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --popover: 126 58% 1%;
    --popover-foreground: 126 12% 98%;
    --card: 126 58% 1%;
    --card-foreground: 126 12% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 126 69% 63%;
    --primary-foreground: 126 69% 3%;
    --secondary: 126 5% 15%;
    --secondary-foreground: 126 5% 75%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 126 69% 63%;

    color-scheme: dark;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@layer base {
  html {
    font-family: 'Proxima Nova', system-ui, sans-serif;
  }
}
